.img-responsive {
    height: 200px;
}

.nav-link.active {
    background-color: #0cc2aa !important;
}

.product-tab {
    margin-top: -10px;
    margin-bottom: -12px;
}

.b-warning {
    border-color: #0cc2aa !important;
}

/*第一个点亮的tab*/
.tab-nav-active {
    border-bottom: 3px solid #0cc2aa;
}

/*重写样式*/
.nav-active-border .nav-link:before {
    bottom: -3px !important;
}

.row-product {
    margin-bottom:-10px !important;
}

/**列宽度*/
.detail-view th{
    width: 20%;
    text-align: left;
    vertical-align: middle;
}