#search-condition-box a.search-condition{
    position: relative;
    margin: 4px 5px 0 0;
    padding: 0 19px 0 4px;
    float: left;
    max-width: 144px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #e8e8e8;
    height: 18px;
    line-height: 20px;
    margin: 3px;
    color: #666;
    text-decoration: none;
    margin-top:7px;
}

span.icon-btn-x{
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left:10px;
    color: #000000;
    font-size: larger;

}
i.ajax-gif {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("/images/ajax.gif");
}

/* 评论框的样式*/

#div-comment{
    display:block;
    width: 400px;
    margin: 20px 0 5px 20px;
    /*position: fixed;*/
    /*bottom: 50px;*/
    /*z-index: 500;*/
}
#btn-comment{
    display: block;
}
/*#div-comment .control-label{*/
/*margin-left: 40px;*/
/*}*/
#div-comment textarea{
    width: 400px;
    border: 1px solid #3c763d;
}
#btn-comment{
    background-color: #00bcd4;
    color: rgba(255, 255, 255, 0.87);
}

/*设置描述部分placeholder的样式*/
#feedback-description::-webkit-input-placeholder{
    color: red;
}
#feedback-description::-moz-placeholder{
color: red;
}
#feedback-description:-ms-input-placeholder{
color:red;
}
